resource "google_compute_instance_template" "default" {
  name        = "reddit-base-template"
  description = "This template is used to create reddit app server instances."

  
  instance_description = "reddit app node"
  machine_type         = "f1-micro"
  can_ip_forward       = false

  scheduling {
    automatic_restart   = true
    }

  // Use an existing disk resource
  disk {
    // Instance Templates reference disks by name, not self link
    source      = "${google_compute_disk.reddit_base_disk.name}"
    auto_delete = false
    boot        = false
  }

  network_interface {
    network = "default"
  }
}

data "google_compute_image" "reddit_image" {
  family  = "reddit-base"
  project = "${var.project}"
}

resource "google_compute_disk" "reddit_base_disk" {
  name  = "reddit-disk"
  image = "${data.google_compute_image.reddit_image.self_link}"
  size  = 10
  type  = "pd-standard"
  zone  = "europe-west1-b"
}