[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=redbull05689
WorkingDirectory=/home/redbull05689/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
